.header {
    z-index: 99;
    position: fixed;
    left: 2rem;
    right: 2rem;
    height: calc(70px * var(--app-scale));
    background-color: white;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container .item {
    width: 100%;
    display: flex;
    align-items: center;
}
.container .item:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}
.container .item:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}
.item img {
    vertical-align: middle;
}


.search {
    width: calc(600px * var(--app-scale));
    height: calc(36px * var(--app-scale));
    border: solid calc(1px * var(--app-scale)) #ccc;
    border-radius: calc(15px * var(--app-scale)) 0 0 calc(15px * var(--app-scale));
    padding: 0 calc(12px * var(--app-scale));
    color: #333;
    border-right: none;
    position: relative;
    font-size: calc(12px * var(--app-scale));
}
.search:focus {
    outline: none;
}
.searchButton {
    border-radius: 0px calc(15px * var(--app-scale)) calc(15px * var(--app-scale)) 0px;
    width: calc(35px * var(--app-scale));
    border: solid 1px #ccc;
    background-color: white;
    height: calc(36px * var(--app-scale));
    cursor: pointer;
}

.searchButton svg {
    color: #212529;
    font-size: calc(19px * var(--app-scale));
    vertical-align: middle;
    margin-bottom: calc(1px * var(--app-scale));
    text-align: center;
    margin-right: calc(2px * var(--app-scale));
}

.toggleButton {
    font-size: calc(28px * var(--app-scale));
    color: rgb(175, 174, 174);
    margin-right: calc(10px * var(--app-scale));
    cursor: pointer;
}
.languageContainer {
    cursor: pointer;
    margin-right: calc(10px * var(--app-scale));
}

.menuButton {
    font-size: calc(25px * var(--app-scale));
    margin-left: calc(7px * var(--app-scale));
    cursor: pointer;
}
.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile img {
    width: calc(36px * var(--app-scale));
    height: calc(36px * var(--app-scale));
    object-fit: cover;
    border-radius: 50%;
}
.userButton {
    font-size: calc(18px * var(--app-scale));;
    margin-right: calc(3px * var(--app-scale));
    cursor: pointer;
}
.profile::after {
    content: '⋮';
    font-size: calc(22px * var(--app-scale));
    font-weight: bold;
    vertical-align: middle;
    transform: translate(1px, -1px);
}
.line {
    height: calc(1px * var(--app-scale));
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
    margin-bottom: calc(20px * var(--app-scale));
}
.relative {
    position: relative;
}
.spinner {
    position: absolute;
    background-image: url("../../../public/assets/spinner.png");
    width: calc(25px * var(--app-scale));
    height: calc(25px * var(--app-scale));
    top: 50%;
    transform: translateY(-50%);
    right: calc(8px * var(--app-scale));
}
.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: calc(1.3rem * var(--app-scale));
    top: calc(70px * var(--app-scale));
    background-color: white;
    z-index: 9;
    box-shadow: 0 0 0 0.5px rgb(0 20 40 / 10%), 0 2px 8px 0 rgb(50 55 90 / 20%);
    border-radius: calc(10px * var(--app-scale));
    justify-content: center;
}
.form form {
    padding: calc(1.5rem * var(--app-scale));
}
.form input {
    width: 100%;
    border: 1px solid #dbdbdb;
    font-size: calc(14px * var(--app-scale));
    color: #69717a;
    padding: calc(10px * var(--app-scale)) calc(15px * var(--app-scale));;
    border-radius: calc(6px * var(--app-scale));
    margin-bottom: calc(1em * var(--app-scale));
    transition: box-shadow 0.3s ease; 
}
.form input:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px rgb(133, 133, 133);;
}
.form button {
    background: #dd3333;
    border: none;
    font-size: calc(15px * var(--app-scale));
    font-weight: bold;
    color: white;
    border-radius: calc(6px * var(--app-scale));
    padding: calc(15px * var(--app-scale)) 0;
    cursor: pointer;
    width: 100%;
}
.form button:hover {
    background: #FF5C58;
    transition: all 0.2s ease-out;
}
.relative {
    position: relative;
}
.relative svg {
    width: calc(20px * var(--app-scale));;
    height: calc(20px * var(--app-scale));;
    position: absolute;
    right: 0;
    top: 0;
    cursor: text;
    margin: calc(15px * var(--app-scale)) calc(12px * var(--app-scale)) 0 0;
    color: rgb(102, 102, 102)
}
.relative:nth-child(3) svg {
    cursor: pointer;
}
.formTitle {
    display: flex;
    justify-content: center;
    margin-bottom: calc(25px * var(--app-scale));
    width: 100%;
    font-weight: 700;
    font-size: calc(20px * var(--app-scale));;
    color:  #444444;
    font-family: 'IBM Plex Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
}
.linksArea {
    display: flex;
    justify-content: center;
    color: #69717A;
    margin-top: calc(20px * var(--app-scale));
    font-size: calc(13px * var(--app-scale));
}
.linksArea div {
    margin-right: calc(3px * var(--app-scale));
    margin-left: calc(3px * var(--app-scale));
    color: #6f7983;
}
.linksArea a {
    color: #69717A;
    cursor: pointer;
    text-decoration: none;
}
.linksArea a:hover {
    text-decoration: underline;
}

.sideNav {
    box-shadow: calc(-5px * var(--app-scale)) 0px calc(15px * var(--app-scale)) calc(-5px * var(--app-scale)) rgb(0 0 0 / 25%);
    background-color: white;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: .5s;
    width: 0px;
    scrollbar-width: 60px;
}
.sideNav.open {
    width: 320px;
    padding: 0.4rem;
}

.sideNav.darkMode {
    background-color: #323232;
}

.sideNav::-webkit-scrollbar-thumb {
    border-right: solid 1px #f1f1f1;
}

.closeButton {
    font-size: calc(18px * var(--app-scale));
    margin-right: calc(3px * var(--app-scale));
    cursor: pointer;
}
.closeLogo {
    font-size: calc(24px * var(--app-scale));
    cursor: pointer;
    position: absolute;
    top: calc(1.5rem * var(--app-scale));
    right: calc(1rem * var(--app-scale));
}

.routesList {
    display: flex;
    flex-direction: column;
    margin-top: calc(35px * var(--app-scale));
    padding: calc(1rem * var(--app-scale));
}
.routesListItem {
    padding: calc(20px * var(--app-scale)) calc(10px * var(--app-scale));
    text-decoration: none;
    color: #323232;
    border-radius: calc(7px * var(--app-scale));
    transition: 0.2s;
    font-size: calc(15px * var(--app-scale));
}
.routesListItem:hover {
    background-color: #DFE7FD;
}
.routesList img {
    border-radius: 0.5rem;
    width: 100%;
    margin-top: calc(20px * var(--app-scale));
}
.profileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: calc(2rem * var(--app-scale));;
    padding: calc(5px * var(--app-scale)) 0px;
    top: calc(60px * var(--app-scale));
    background-color: white;
    z-index: 9;
    box-shadow: 0 0 0 0.5px rgb(0 20 40 / 10%), 0 2px 8px 0 rgb(50 55 90 / 20%);
    border-radius: calc(5px * var(--app-scale));
    justify-content: center;
}
.profileMenu .profileMenuItem {
    padding: calc(8px * var(--app-scale)) calc(25px * var(--app-scale));
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.profileMenu .profileMenuItem:hover {
    background-color: #f8f8f8;
}
.profileMenu div:nth-child(1) {
    font-weight: 600;
    cursor: unset;
}
.profileMenu .profileMenuItem svg {
    font-size: calc(16px * var(--app-scale));
    margin-right: calc(5px * var(--app-scale));
}
.divider {
    margin: calc(5px * var(--app-scale)) 0;
    border-top: 1px solid #e9ecef;
}
.error {
    width: 100%;
    text-align: center;
    margin-bottom: calc(10px * var(--app-scale));
    border-radius: calc(5px * var(--app-scale));
    background-color: #e74c3c;
    color: white;
    padding: calc(12px * var(--app-scale)) 0px;
    font-size: calc(17px * var(--app-scale));
}

@media only screen and (max-width: 1000px) {
    .search {
        width: 35vw;
    }
    .header { 
        left: 0.85rem;
        right: 1rem;
    }
    .item img {
        width: 40px;
    }
    .container .item {
        width: unset;
    }
}