.title {
    font-size: calc(1.8rem * var(--app-scale));; 
    font-weight: bold;
}
.line {
    height: calc(1px * var(--app-scale));; 
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
    margin-top: calc(20px * var(--app-scale));
    margin-bottom: calc(30px * var(--app-scale));
}
.filterButtons  {
    display: flex;
    gap: calc(8px * var(--app-scale));
    align-items: center;
    margin-bottom: calc(40px * var(--app-scale));
    flex-wrap: wrap;
}
.filterButtons button {
    width: calc(38px * var(--app-scale));
    height: calc(38px * var(--app-scale));
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #dd3333;
    border: none;
    transition: background-color .2s ease-in-out;
    font-size: calc(14px * var(--app-scale));
}
.filterButtons button:hover {
    background-color: #FF5C58;
}
.letter {
    font-weight: bold;
    font-size: calc(1.75rem * var(--app-scale));
}
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: calc(50px * var(--app-scale));
    margin-bottom: calc(40px * var(--app-scale));
}
.gridItem {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.gridItem img {
    border-radius: 50%;
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    cursor: pointer;
    width: calc(150px * var(--app-scale));
    height: calc(150px * var(--app-scale));
    object-fit: cover;
    margin-bottom: calc(12px * var(--app-scale));
    transition: 0.2s ease-in-out;
}
.gridItem img:hover {
    opacity: 0.9;
}
.gridItem a {
    text-align: center;
}
.gridItem a:nth-child(2) {
    font-weight: bold;
    font-size: calc(1rem * var(--app-scale));
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.gridItem a:nth-child(2):hover {
    opacity: 0.8;
}
.activeButton {
    background-color: #FF5C58!important;
    border: 1px solid #9cccff!important;
    width: calc(39px * var(--app-scale))!important;
    height: calc(39px * var(--app-scale))!important;
}
.a {
    opacity: 0;
}
.animation {
    animation: unhideAnimation .4s;
    transform: scale(1);
}
@keyframes unhideAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.animation1 {
    animation: unhideAnimation1 .4s;
    transform: scale(0);
    position: absolute;
}
@keyframes unhideAnimation1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}


@media only screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
