.input {
    width: 100%;
    border: calc(1px * var(--app-scale)) solid #dbdbdb;
    font-size: calc(15px * var(--app-scale));
    color: #69717a;
    padding: calc(10px * var(--app-scale)) calc(12px * var(--app-scale));
    border-radius: calc(6px * var(--app-scale));
    margin-bottom: calc(1.2em * var(--app-scale));
    margin-top: calc(8px * var(--app-scale));
    transition: box-shadow 0.3s ease; 
}
.input option {
    padding: 0px;
    font-size: calc(14px * var(--app-scale));
}
.input:focus {
    outline: none;
    box-shadow: 0 0 0 calc(1.5px * var(--app-scale)) rgb(133, 133, 133);
}
.label {
    font-weight: bold;
    font-size: calc(1rem * var(--app-scale));
    line-height: calc(1rem * var(--app-scale));
}
.sticky select {
    padding-left: calc(8px * var(--app-scale));
    background-color: #F1F1F1;
}
.bottomImage {
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    margin-top: calc(5px * var(--app-scale));
}