.review {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 252) 50%, rgba(255,255,255,1) 100%);    
    padding: calc(1rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    border-radius: calc(0.5rem * var(--app-scale));
    font-size: calc(14px * var(--app-scale));
}
form label {
    padding-top: calc(10px * var(--app-scale));
}
.stars {
    height: calc(16px * var(--app-scale));
    padding: 0;
    margin-bottom: calc(25px * var(--app-scale));
    transform: translateX(calc(-3px * var(--app-scale)));
}
.stars svg {
    font-size: calc(2rem * var(--app-scale));
    margin-right: calc(-1px * var(--app-scale));
    cursor: pointer;
}
form input {
    width: 100%;
    border: calc(1px * var(--app-scale)) solid #dbdbdb;
    font-size: calc(15px * var(--app-scale));
    color: #69717a;
    padding: calc(10px * var(--app-scale)) calc(12px * var(--app-scale));
    border-radius: calc(6px * var(--app-scale));
    margin-bottom: calc(1em * var(--app-scale));
    margin-top: calc(5px * var(--app-scale));
    transition: box-shadow 0.3s ease; 
}
form input:focus {
    outline: none;
    box-shadow: 0 0 0 calc(1.5px * var(--app-scale)) rgb(133, 133, 133);;
}
form textarea {
    font-size: calc(15px * var(--app-scale));
    width: 100%;
    border: calc(1px * var(--app-scale)) solid #dbdbdb;
    color: #69717a;
    padding: calc(10px * var(--app-scale)) calc(12px * var(--app-scale));
    border-radius: calc(6px * var(--app-scale));
    transition: box-shadow 0.3s ease;
    height: calc(120px * var(--app-scale));
    margin-top: calc(5px * var(--app-scale));
    margin-bottom: calc(1em * var(--app-scale));
    resize: vertical;
}
form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 calc(1.5px * var(--app-scale)) rgb(133, 133, 133);
}
.createComm {
    margin-top: calc(5px * var(--app-scale));
    background-color: #007bff;
    border-radius: calc(0.5rem * var(--app-scale));
    font-size: calc(1rem * var(--app-scale));
    transition: .2s ease-in-out;
    cursor: pointer;
    border: none;
    color: white;
    height: calc(40px * var(--app-scale));
    padding: 0px calc(15px * var(--app-scale));
}
.createComm:hover {
    background-color: #0069D9;
}
.flex {
    margin: calc(5px * var(--app-scale)) calc(10px * var(--app-scale));
    display: flex;
    align-items: center;
    gap: calc(10px * var(--app-scale));
    margin-bottom: calc(15px * var(--app-scale));
}
.flex input {
    width: calc(20px * var(--app-scale));
    height: calc(20px * var(--app-scale));
    box-shadow: 0px 0px 0px 0px white!important; 
    cursor: pointer;  
}
.flex label {
    font-size: calc(13px * var(--app-scale));
    cursor: pointer;
}
.error {
    color: #e02424;
    transform: translateY(calc(-10px * var(--app-scale)));
}