.footer {
    display: flex;
    width: 100%;
    padding: 1rem 2.3rem 1rem 2.3rem;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.item {
    width: 25%;
    padding: calc(1.2rem * var(--app-scale));
}
.item:nth-child(1) {
    padding-left: 0rem;
}
.item:nth-child(4) {
    padding-right: 0rem;
}
.item p {
    font-size: calc(13px * var(--app-scale));
    margin-bottom: calc(14px * var(--app-scale));
    line-height: 1.7;
}
.item p a:hover {
    opacity: 0.8;
}
.header {
    font-size: calc(16px * var(--app-scale));
    font-weight: bold;
    margin-bottom: calc(20px * var(--app-scale));
}
.header a {
    text-decoration: none;
    color: unset;
}
.header a:hover {
    text-decoration: underline;
}
.item:nth-child(3) .header {
    margin-left: calc(5px * var(--app-scale));
}
.logos {
    display: flex;
    flex-wrap: nowrap;
    font-size: calc(20px * var(--app-scale));
}
.logos a {
    color: unset;
    margin-right: calc(18px * var(--app-scale));
}
.logos svg {
    line-height: calc(20px * var(--app-scale));
    cursor: pointer;
}
.logos svg:hover {
    color: grey;
}
.line {
    height: calc(1px * var(--app-scale));
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;;
}

@media only screen and (max-width: 800px) {
    .footer {
        padding: 1rem 1rem 1rem 1rem;
    }
    .container {
        flex-direction: column;
        gap: 0px;
        /* text-align: center; */
    }
    .item {
        width: 100%;
    }
    .item:nth-child(1) {
        padding-left: calc(1.2rem * var(--app-scale));
    }
}