.upperImage {
    border-radius: calc(0.5rem * var(--app-scale));
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.layout {
    padding: calc(1.5rem * var(--app-scale)) calc(2rem * var(--app-scale));
}
.moviesTextAreaStars {
    transform: translateX(-1px);
}
.moviesTextAreaStars svg {
    color: #FDC83E;
    font-size: calc(17px * var(--app-scale));
    margin-right: calc(-1px * var(--app-scale));
}
.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerAreaTitle {
    font-size: calc(2rem * var(--app-scale));
    font-weight: bold;
    margin-bottom: calc(5px * var(--app-scale));
}
.headerAreaText {
    font-size: unset;
    font-style: italic;
    transform: translateX(calc(1px * var(--app-scale)));
    font-size: calc(14px * var(--app-scale));
}
.ratingArea {
    display: flex;
    width: calc(100%/4 - 20px);
    align-items: center;
    gap: calc(15px * var(--app-scale));
}
.ratingAreaRating {
    border-radius: 50%;
    width: calc(50px * var(--app-scale));
    height: calc(50px * var(--app-scale));
    color: white;
    font-size: calc(1.5em * var(--app-scale));
    font-weight: 700;
    display: flex;
    justify-content: center;    
    align-items: center;
    line-height: calc(1.2rem * var(--app-scale));
}
.ratingAreaChoice {
    font-size: calc(1rem * var(--app-scale));
    font-weight: 700;
}
.line {
    height: calc(1px * var(--app-scale));
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
    margin-top: calc(30px * var(--app-scale));
    margin-bottom: calc(30px * var(--app-scale));
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-column-gap: calc(30px * var(--app-scale));
}
.gridItem:nth-child(1) {
    grid-column: 1/2;
    position: sticky;
    top: calc(100px * var(--app-scale));
    height: 70vh;
}
.gridItem:nth-child(2) {
    grid-column: 2/4;
}
.gridItem:nth-child(3) {
    grid-column: 4/5;
}
.stickyImage {
    width: 100%;
    height: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
}
.genres {
    display: flex;
    gap: calc(8px * var(--app-scale));
    align-items: center;
    margin-bottom: calc(20px * var(--app-scale));
}
.genresId {
    border: calc(2px * var(--app-scale)) solid;
    text-transform: uppercase;
    border-radius: calc(0.5rem * var(--app-scale));
    font-weight: bold;
    font-size: calc(20px * var(--app-scale));
    padding: calc(0.4rem * var(--app-scale)) calc(0.6rem * var(--app-scale));
    margin-right: calc(2px * var(--app-scale));
}
.genres button {
    height: calc(30px * var(--app-scale));
    border-radius: calc(0.5rem * var(--app-scale));
    cursor: pointer;
    color: white;
    padding: 0px calc(8px * var(--app-scale));
    background-color: #dd3333;
    border: none;
    transition: .2s ease-in-out;
    font-size: calc(14px * var(--app-scale));
}
.genres button:hover {
    background-color: #FF5C58;
}
.features {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 252) 50%, rgba(255,255,255,1) 100%);    
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    padding: calc(1rem * var(--app-scale));
    margin-bottom: calc(20px * var(--app-scale));
    font-size: calc(14px * var(--app-scale));
}
.features tr {
    border-spacing: calc(5em * var(--app-scale));
}
.features td, .features th {
    padding-bottom: calc(1.5rem * var(--app-scale));
}
.features tr:last-child td, .features tr:last-child th {
    padding-bottom: 0px;
}
.features th {
    text-align: left;
}
.features td {
    width: 50%;
}
.story {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 252) 50%, rgba(255,255,255,1) 100%);    
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    padding: calc(1rem * var(--app-scale));
    margin-bottom: calc(20px * var(--app-scale));
}
.storyTitle {
    font-size: calc(18px * var(--app-scale));
    font-weight: bold;
}
.story div:nth-child(2) {
    margin: calc(1rem * var(--app-scale)) 0rem;
    font-size: calc(14px * var(--app-scale));;
}
.story button {
    height: calc(30px * var(--app-scale));
    border-radius: calc(0.5rem * var(--app-scale));
    cursor: pointer;
    color: white;
    padding: 0px calc(8px * var(--app-scale));
    background-color: #dd3333;
    border: none;
    transition: .2s ease-in-out;
    font-size: calc(14px * var(--app-scale));
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: calc(4px * var(--app-scale));
}
.story button:hover {
    background-color: #FF5C58;
}
.staffAndCast {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 252) 50%, rgba(255,255,255,1) 100%);    
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    padding: calc(1rem * var(--app-scale));
    margin-bottom: calc(20px * var(--app-scale));
    display: flex;
}
.staffAndCastHeader {
    font-size: calc(18px * var(--app-scale));
    font-weight: bold;
}
.innerStaffAndCast {
    width: 100%;
}
.line1 {
    margin: calc(1rem * var(--app-scale)) 0rem;
    height: calc(1px * var(--app-scale));
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
}
.staffAndCast img {
    width: calc(60px * var(--app-scale));
    height: calc(60px * var(--app-scale));
    border-radius: calc(0.5rem * var(--app-scale));
    transition: .2s ease-in-out;
    object-fit: cover;
}
.staffAndCast img:hover {
    opacity: 0.8;
}
.singleStaffAndCast {
    display: flex;
    align-items: center;
    gap: calc(12px * var(--app-scale));
    margin-bottom: calc(1rem * var(--app-scale));
}
.InnerSingleStaffAndCast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(4px * var(--app-scale));
}
.InnerSingleStaffAndCast a div {
    font-weight: 700;
    font-size: calc(14px * var(--app-scale))!important;
}
.InnerSingleStaffAndCast a div:hover {
    opacity: 0.8;
}
.role {
    font-size: calc(12px * var(--app-scale));
}
.relatedMedia {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 252) 50%, rgba(255,255,255,1) 100%);    
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    padding: calc(1rem * var(--app-scale));
    margin-bottom: calc(20px * var(--app-scale));
}
.relatedMediaHeader {
    font-size: calc(18px * var(--app-scale));
    font-weight: bold;
}
.relatedMediaItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    gap: calc(20px * var(--app-scale));
}
.relatedMediaItem {
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    background-color: #f8f7ff;
    height: calc(110px * var(--app-scale));
    border-radius: calc(0.5rem * var(--app-scale));
    padding: calc(1rem * var(--app-scale));
    display: flex;
    gap: calc(12px * var(--app-scale));
}
.relatedMediaItem img {
    height: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    transition: 0.2s;
}
.relatedMediaItem img:hover {
    opacity: 0.8;
}
.relatedMediaItemTextArea div:nth-child(1) {
    font-weight: bold;
    font-size: calc(1rem * var(--app-scale));
    margin-bottom: calc(12px * var(--app-scale));
}
.relatedMediaItemTextArea div:nth-child(1):hover {
    opacity: 0.8;
}
.relatedMediaItemTextArea div:nth-child(2) {
    font-size: calc(12px * var(--app-scale));
}
.ratingEntries {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(249, 249, 252) 50%, rgba(255,255,255,1) 100%);    
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    box-shadow: 0 calc(0.125rem * var(--app-scale)) calc(0.25rem * var(--app-scale)) rgba(0,0,0,.075);
    padding: calc(1rem * var(--app-scale));
    font-size: calc(14px * var(--app-scale));;
}
.ratingEntriesTitle {
    font-size: calc(16px * var(--app-scale));
    font-weight: bold;
    margin-bottom: calc(1rem * var(--app-scale));
}
.ratingAndDateArea {
    display: flex;
    align-items: center;
    gap: calc(15px * var(--app-scale));
}
.ratingAndDateAreaDate {
    font-size: calc(11.5px * var(--app-scale));
    transform: translateY(-2px);
}
.ratingAndDateAreaReview {
    padding: calc(10px * var(--app-scale)) 0px;
}
.ratingEntriesAuthorArea {
    display: flex;
    align-items: center;
    padding-top: calc(10px * var(--app-scale));
    gap: calc(12px * var(--app-scale));
}
.ratingEntriesAuthorArea img {
    width: calc(36px * var(--app-scale));
    height: calc(36px * var(--app-scale));
    border-radius: 50%;
    transition: 0.2s;
    object-fit: cover;
}
.ratingEntriesAuthorArea img:hover {
    opacity: 0.8;
}

.ratingEntriesAuthorArea a:nth-child(2) {
    transform: translateY(calc(-3px * var(--app-scale)));
    font-weight: bold;
}
.ratingEntriesAuthorArea a:nth-child(2):hover {
    opacity: 0.8;
}

.trailerArea {
    position: relative;
    margin-bottom: calc(15px * var(--app-scale));
}
.trailerArea img {
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
}
.trailerArea button {
    position: absolute;
    left: calc(1rem * var(--app-scale));
    bottom: calc(1rem * var(--app-scale));
    height: calc(30px * var(--app-scale));
    padding: 0px calc(8px * var(--app-scale));
    border-radius: calc(0.5rem * var(--app-scale));
    cursor: pointer;
    color: white;
    background-color: #dd3333;
    border: none;
    transition: .2s ease-in-out;
    font-size: calc(14px * var(--app-scale));
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: calc(4px * var(--app-scale));
}
.trailerArea button:hover {
    background-color: #FF5C58;
}
.trailerArea button p {
    transform: translateY(calc(-1px * var(--app-scale)));
}
.relatedPostsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(10px * var(--app-scale));
}
.relatedPostsHeader div:nth-child(1) {
    font-weight: bold;
    font-size: calc(18px * var(--app-scale));
}
.relatedPostsHeader div:nth-child(2) svg {
    font-size: calc(18px * var(--app-scale));
    margin-left: calc(2px * var(--app-scale));
    color: rgb(196, 196, 196);
}
.relatedPostsHeader div:nth-child(2){
    transform: translate(calc(4px * var(--app-scale)), calc(2px * var(--app-scale)));
}
.relatedPostsImg {
    border-radius: calc(0.5rem * var(--app-scale));
    width: 100%;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.relatedPostsImg:hover {
    opacity: 0.8;
}
.relatedPostsTitle {
    padding: calc(4px * var(--app-scale)) calc(8px * var(--app-scale)) calc(8px * var(--app-scale)) calc(8px * var(--app-scale));
    font-size: calc(15px * var(--app-scale));
    font-weight: bold;
}
.relatedPostsTitle:hover {
    opacity: 0.8;
}
.relatedPostsAuthorArea {
    display: flex;
    align-items: center;
    padding: 0px calc(10px * var(--app-scale));
    margin-bottom: calc(30px * var(--app-scale));
    gap: calc(12px * var(--app-scale));
}
.relatedPostsAuthorArea img {
    border-radius: 50%;
    transition: 0.2s;
}
.relatedPostsAuthorArea img:hover {
    opacity: 0.8;
}
.relatedPostsAuthorArea a:nth-child(2) {
    transform: translateY(calc(-2px * var(--app-scale)));
}
.relatedPostsAuthorArea a:nth-child(2):hover {
    opacity: 0.8;
}
.modal {
    position: fixed; 
    z-index: 99999; 
    padding: calc(30px * var(--app-scale)) calc(280px * var(--app-scale));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: #00000066;
    visibility: hidden;
    opacity: 0;    
    transition: 0.4s;
    padding-top: 0px;
}
.showTextModal {
    padding-top: calc(30px * var(--app-scale));
    visibility: visible;
    opacity: 1;
}

.modalContent {
    overflow: auto;
    max-height: calc(100vh - 60px);
    border-radius: calc(0.5rem * var(--app-scale));
    background-color: #fefefe;
    margin: auto;
    padding: calc(10px * var(--app-scale)) calc(20px * var(--app-scale));
}
/* @keyframes modalanimate {
    0% {
        padding-top: 0px;
        background-color: unset;
    }
    100% {
        padding-top: calc(30px * var(--app-scale));
        background-color: rgba(0,0,0,0.4);
    }
} */

.modalHeaderArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: calc(0.5rem * var(--app-scale));
    border-top-left-radius: calc(0.5rem * var(--app-scale));
}
.modalTitle {
    font-weight: bold;
    font-size: calc(1.5rem * var(--app-scale));
}
.modalCloseBtn {
    font-size: calc(24px * var(--app-scale));
    transform: translateX(calc(4px * var(--app-scale)));
    cursor: pointer;
}
.modalCloseBtn:hover {
    color: grey;
}
.modalPhoto {
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
    margin: calc(12px * var(--app-scale)) 0px;
}
.modalText {
    padding: 0px calc(10px * var(--app-scale));
    line-height: calc(1.4rem * var(--app-scale));
}
.modal1 {
    position: fixed; 
    z-index: 99999; 
    padding: calc(30px * var(--app-scale)) calc(100px * var(--app-scale));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;    
    transition: 0.4s;
}
.showVideoModal {
    visibility: visible;
    opacity: 1;
}
.modalContent1 {
    border-radius: calc(0.5rem * var(--app-scale));
    background-color: #fefefe;
    margin: auto;
    padding: calc(20px * var(--app-scale)) calc(20px * var(--app-scale));
    height: 100%;
}
.modalVideo {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: calc(0.5rem * var(--app-scale));
}
.showMore {
    font-weight: 600;
    margin-left: calc(5px * var(--app-scale));
    cursor: pointer;
}
.showMore:hover {
    opacity: 0.8;
}
.high div:nth-child(1) {
    background-color: #28a745;
}
.high div:nth-child(2) {
    color: #28a745;
}
.medium div:nth-child(1) {
    background-color: #ffc107;
}
.medium div:nth-child(2) {
    color: #ffc107;
}
.low div:nth-child(1) {
    background-color: #dc3545;
}
.low div:nth-child(2) {
    color: #dc3545;
}
.storyText {
    line-height: calc(20px * var(--app-scale));
    font-size: calc(14px * var(--app-scale));
}
@media only screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr; 
        grid-auto-rows: auto; 
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .gridItem:nth-child(1) {
        display: none;
    }
    .gridItem:nth-child(2) {
        grid-column: 1/2;
    }
    .gridItem:nth-child(3) {
        grid-column: 1/2;
        position: relative;
    }
    .headerArea {
        flex-direction: column;
        align-items: start;
    }
    .ratingArea {
        justify-content: start;
        width: auto;
    }
    .layout {
        padding: 0px;
    }
    .genres {
        flex-wrap: wrap;
    }
}