.small {
    transform: translateX(calc(-1px * var(--app-scale)));
}
.small svg {
    color: #FDC83E;
    font-size: calc(17px * var(--app-scale));
    margin-right: calc(-1px * var(--app-scale));
}
.medium {
    transform: translateX(calc(-1px * var(--app-scale)));
}
.medium svg {
    color: #FDC83E;
    font-size: calc(24px * var(--app-scale));
    margin-right: 0px;
}