.pages {
    display: flex;
    justify-content: center;
    gap: calc(3px * var(--app-scale));
    margin-top: calc(30px * var(--app-scale));
    margin-bottom: calc(50px * var(--app-scale));
}
.pages button:first-child svg {
    width: calc(22px * var(--app-scale));
    height: calc(22px * var(--app-scale));
    transform: translateX(-1px);
}
.pages button:last-child svg {
    width: calc(22px * var(--app-scale));
    height: calc(22px * var(--app-scale));
    transform: translateX(1px);
}
.pages button {
    font-size: calc(17px * var(--app-scale));
    width: calc(35px * var(--app-scale));
    height: calc(35px * var(--app-scale));
    border-radius: 50%;
    color: white;
    background-color: #dd3333;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.pages button:hover {
    color: #ababab;
}
.pageButtons p {
    transform: translateY(-1px);
}