.noData {
    font-size: calc(1.25rem * var(--app-scale));
    font-weight: 700;
    margin-bottom: calc(10px * var(--app-scale));
}

.noDataButton {
    transition: 0.2s;
    background-color: #dd3333;
    color: white;
    border-radius: calc(0.5rem * var(--app-scale));
    border: none;
    padding: calc(0.3rem * var(--app-scale)) calc(0.5rem * var(--app-scale)) calc(0.3rem * var(--app-scale)) calc(0.2rem * var(--app-scale));
    font-size: calc(0.875rem * var(--app-scale));
    cursor: pointer;
}
.noDataButton svg {
    width: calc(20px * var(--app-scale));
    height: calc(20px * var(--app-scale));
    vertical-align: middle;
    transform: translateY(calc(-1px * var(--app-scale)));
}
.noDataButton:hover {
    background-color: #FF5C58;
}