.container {
    display: flex;
    width: 100%;
    align-items: center;
}
.container .firstItem {
    width: 33%;
    padding: calc(30px * var(--app-scale)) 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .secondItem {
    width: 67%;
    margin-left: calc(35px * var(--app-scale));
}
.container .secondItem img {
    width: 100%;
    border-radius: calc(0.5rem * var(--app-scale));
}
.form {
    box-shadow: 0 0 0 calc(0.5px * var(--app-scale)) rgb(0 20 40 / 10%), 0 calc(2px * var(--app-scale)) calc(8px * var(--app-scale)) 0 rgb(50 55 90 / 20%);
    border-radius: calc(10px * var(--app-scale));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(1.5rem * var(--app-scale));
    width: 100%;
    background-color: white;
}
.form input {
    width: 100%;
    border: calc(1px * var(--app-scale)) solid #dbdbdb;
    font-size: calc(14px * var(--app-scale));
    color: #69717a;
    padding: calc(10px * var(--app-scale)) calc(15px * var(--app-scale));
    border-radius: calc(6px * var(--app-scale));
    margin-bottom: calc(1em * var(--app-scale));
    transition: box-shadow 0.3s ease;
}
.form input:focus {
    outline: none;
    box-shadow: 0 0 0 calc(1.5px * var(--app-scale)) rgb(133, 133, 133);;
}
.form button {
    background: #dd3333;
    border: none;
    font-size: calc(15px * var(--app-scale));
    font-weight: bold;
    color: white;
    border-radius: calc(6px * var(--app-scale));
    padding: calc(15px * var(--app-scale)) 0;
    cursor: pointer;
}
.form button:hover {
    background: #FF5C58;
    transition: all 0.2s ease-out;

}
.firstItem a {
    display: flex;
    justify-content: center;
    color: #69717A;
    cursor: pointer;
    margin-top: calc(20px * var(--app-scale));
    text-decoration: none;
    font-size: calc(13px * var(--app-scale));
}
.firstItem a:hover {
    text-decoration: underline;
}
.header {
    display: flex;
    justify-content: center;
    margin-bottom: calc(25px * var(--app-scale));
    width: 100%;
    font-weight: 700;
    font-size: calc(20px * var(--app-scale));
    font-family: 'IBM Plex Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
    color: #444444;
}
.relative {
    position: relative;
}
.relative svg {
    width: calc(20px * var(--app-scale));
    height: calc(20px * var(--app-scale));
    position: absolute;
    right: 0;
    top: 0;
    cursor: text;
    margin: calc(15px * var(--app-scale)) calc(12px * var(--app-scale)) 0 0;
    color: rgb(102, 102, 102)
}
.relative:nth-child(4) svg {
    cursor: pointer;
}
.error {
    width: 100%;
    text-align: center;
    margin-bottom: calc(10px * var(--app-scale));
    border-radius: calc(5px * var(--app-scale));
    background-color: #e74c3c;
    color: white;
    padding: calc(12px * var(--app-scale)) 0px;
    font-size: calc(17px * var(--app-scale));
}
@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .container .firstItem {
        width: 100%;
    }
    .container .secondItem {
        width: 100%;
        margin-left: 0;
        order: -1;
    }
}